body {
    color: #fff;
    overflow: hidden;
    height: 1080px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrap-2{
    position:fixed;
    z-index:-30;
    top:0;
    left:0;
    overflow:hidden;
    height:100vh;
    width:100vw;
    margin:auto;
    background: -webkit-gradient(linear, left top, right bottom, from(#438ee1), to(#973999));
    background: linear-gradient(to bottom right, #FF512F, #DD2476);
}
canvas{
    width:100%;
    height:100%;
}

.cont {
    margin-right: 2em;
    margin-top: 0.5em;
    display: block;
    color: white;
    font-family: Poppins-Regular;
    font-size: 18px;
    text-decoration: none;
}

.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.nav-content {
    position: absolute;
    list-style: none;
    display: flex;
    z-index: 2;
}

.nav-base {
    position: absolute;
    border-radius: 10px;
    top: 5px;
    width: 35em;
    height: auto;
}

.bell {
    margin-top: 8px;
    margin-right: 40px;
    cursor: pointer;
}

.bell:hover {
    width: 40%;
}

.current {
    color: #11F3A2;
    margin-right: 2em;
    margin-top: 0.5em;
    display: block;
    font-family: Poppins-Regular;
    font-size: 18px;
    text-decoration: none;
    pointer-events: none;
}

.cont:hover {
    color: purple;
}

.notf {
    position: absolute;
    border-radius: 10px;
    top: 80px;
    z-index: 3;
    display: none;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.300), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.not {
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Poppins-Bold;
    letter-spacing: 0.20px;
    line-height: 140%;
    position: absolute;
    top: 0px;
    left: 2%;
    margin: 0;
    z-index: 2;
}


.container {
    width: 80%;
    margin: 80px auto;
}

.container h1 {
    padding: 60px 0;
    color: white;
    font-size: 44px;
    font-family: Poppins-Bold;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    min-width: 250px;
}

.feature-img {
    width: 90%;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.small-img-row {
    display: flex;
    background: #efefef;
    margin: 10px 0;
    align-items: center;
    overflow: hidden;
    width: 85%;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.small-img {
    display: inline-flex;
    position: relative;
}

.small-img .smimg {
    width: 200px;
}

.smimg {
    height: 120px;
    border-radius: 10px;
}

.small-img-row .desc {
    margin-top: 50px;
    margin-left: 50px;
    color: #000000;
    line-height: 22px;
    font-size: 15px;
    font-family: Poppins-Regular;
}

.play-btn {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn {
    left: 100px;
    width: 35px;
}

.video-player {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: none;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}





















.miniview {
    display: none;
}

.mobileview {
    display: none;
}

@font-face { 
    font-family: Poppins-Bold; 
    font-weight: bold; 
    src: url('Fonts/poppins/Poppins-Bold.otf');
}

@font-face { 
    font-family: Poppins-Regular; 
    font-weight: bold; 
    src: url('Fonts/poppins/Poppins-Regular.otf');
}
