body {
    background-color: #0A299B; 
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.img1 {
    height: 100%;
    left: -20em;
    position: absolute;
    mix-blend-mode: luminosity;
    z-index: 1;
}

.img3 {
    height: 50%;
    width: 100%;
    bottom: 0em;
    position: absolute;
    mix-blend-mode: multiply;
    z-index: 1;
}

.title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: Poppins-Bold;
    letter-spacing: 0.20px;
    line-height: 140%;
    position: absolute;
    top: 7%;
    left: 6%;
    z-index: 2;
}

.learn-something-or-everything {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Poppins-Bold;
    letter-spacing: 0.20px;
    line-height: 110%;
    position: absolute;
    top: 18%;
    left: 6%;
    z-index: 2;
}

.img4 {
    position: absolute;
    border-radius: 10px;
    bottom: 20px;
    width: 26em;
    height: auto;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: center;
}

.navc {
    bottom: 2.5em;
    position: absolute;
    z-index: 1;
}

.n1 {
    height: 1.5em;
    cursor: pointer;
    margin-right: 4.5em;
    position: relative;
    z-index: 3;
}

.n2 {
    height: 1.5em;
    cursor: pointer;
    margin-right: 4.5em;
    position: relative;
    z-index: 3;
}

.n3 {
    height: 1.5em;
    cursor: pointer;
    margin-right: 4.5em;
    position: relative;
    z-index: 3;
}

.n4 {
    height: 1.5em;
    cursor: pointer;
    position: relative;
    z-index: 3;
}


.bell1 {
    position: absolute;
    top: 2em;
    right: 3em;
    width: 2em;
    cursor: pointer;
    z-index: 3;
}

.notf1 {
    width: 45%;
    position: absolute;
    border-radius: 10px;
    top: 100px;
    margin-right: 1em;
    z-index: 3;
    display: none;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.300), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notif {
    position: relative;
    display: flex;
    justify-content: right;
}
















.not {
    display: none;
}

.img2 {
    display: none;
}

.navbar {
    display: none;
}

.desktopview {
    display: none;
}

.miniview {
    display: none;
}

@font-face { 
    font-family: Poppins-Regular; 
    font-weight: bold; 
    src: url('Fonts/poppins/Poppins-Regular.otf');
}

@font-face { 
    font-family: Poppins-Bold; 
    font-weight: bold; 
    src: url('Fonts/poppins/Poppins-Bold.otf');
}