body {
    margin: 0%;
    align-items: flex-start;
    background-color: #284094;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.gif {
    mix-blend-mode: luminosity;
    position: absolute;
    width: 100%;
    height: 70%;
}

.vector-1 {
    bottom: 0;
    height: 50%;
    position: absolute;
    width: 100%;
}

.title {
    color: white;
    font-size: 300%;
    font-weight: bold;
    font-family: Poppins-Bold;
    letter-spacing: 0.20px;
    line-height: 140%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.learn-something-or-everything {
    color: white;
    font-size: 200%;
    font-weight: bold;
    font-family: Poppins-Bold;
    letter-spacing: 0.20px;
    line-height: 110%;
    position: absolute;
    top: 20%;
    left: 10%;
}

.text {
    position: flex;
}

.navbar {
    width: 100%;
    height: 10%;
    bottom: 0%;
    mix-blend-mode: normal;
    position: absolute;

}

@font-face { font-family: Poppins-Bold; font-weight: bold; src: url('fonts/poppins/Poppins-Bold.otf');};
